    /* ============================ Responsive Design Layout Css ============================ */
    
    @media(min-width:1400px) {
        .main-slider-2 .item .cover .slider-content h2 {
            font-weight: 600;
            font-size: 65px !important;
        }
    }
    
    @media(min-width:768px) {
        .footer-content-wrap>span {
            display: none;
        }
    }
    
    @media(max-width:767px) {
        .footer-content-wrap>div,
        .footer-content-wrap>ul,
        .footer-content-wrap>form,
        .widget_media_gallery.footer-content-wrap>.gallery,
        .footer-content-wrap>img,
        .footer-content-wrap .widget-title+div,
        .footer-content-wrap.contact_feature>aside:not(:first-of-type),
        .footer-content-wrap .widget-title+ul {
            display: none;
        }
    }
    
    @media(max-width:767px) {
        .footer-content-wrap:first-of-type:has(a.custom-logo-link) .widget-title+div {
            display: block;
        }
    }
    
    @media(min-width:992px) and (max-width:1199px) {
        .woocommerce ul.products li.product,
        .woocommerce-page ul.products li.product {
            margin: 0 8px;
        }
        .header-3 .main-slider-2 .item .cover .slider-content>p {
            margin-bottom: 8px !important;
        }
        .main-slider-2 .item .cover .slider-content h2 {
            font-size: 40px !important;
        }
        .header .top-above-header .left-widget .wp-block-categories-dropdown ul li a img {
            width: 30px;
        }
        .service-section .service-box>.bg-element svg {
            width: 65px;
            height: 65px;
        }
        .cta-section-1 .cta-content .cta-info-wrap {
            gap: 10px;
        }
        .header .top-above-header .right-content>.icon .action {
            right: 20px;
        }
        .feature-section .feature-wrap {
            padding: 10px;
        }
        .funfact-section .funfact-box {
            padding: 15px;
        }
        .header .top-above-header .right-content {
            justify-content: start;
            gap: 8px;
        }
        .office-address-section .info-wrap {
            padding: 20px;
        }
        .contactmap-section .map-footer .widget-contact .contact-area {
            display: block;
        }
        .contactmap-section .map-footer .widget-contact .contact-area .contact-icon {
            margin: 0 auto;
        }
        .contactmap-section .map-footer .widget-contact .contact-area .contact-info {
            text-align: center;
        }
        .contactmap-section .map-footer .customer-support::after {
            content: '';
            background: var(--primary-color);
            clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
            position: absolute;
            top: -46px;
            width: 170px;
            height: 184px;
            bottom: 0;
            left: -1px;
            z-index: -1;
        }
        .blog-section .post-item .post-content .post-meta.up .post-categories {
            left: 20%;
            right: 20%;
        }
        .blog-section .post-item .post-content .post-meta.up .post-categories {
            transform: translateY(-100px);
        }
        .comparison-pricing table thead tr th {
            padding: 25px;
        }
        .blog-section .post-item .post-content .post-meta.up {
            display: inline-block;
        }
        .blog-section .post-item .post-content .post-meta.up .author-name {
            margin-bottom: 5px;
        }
        .doctors-section .detail-wrap .widget_social_widget ul {
            margin: 0;
        }
        .feature-section-2 .left-content .item-list .item {
            padding: 8px;
        }
        .feature-section-2 .left-content .achive .box-wrap {
            display: grid;
        }
        .about-section .left-side-content .achivements {
            display: block;
        }
        .feature-section-2 .left-content .item-list .item a {
            font-size: 15px;
        }
        .about-section .left-side-content .achivements .box-wrap {
            margin-bottom: 20px;
        }
        .about-section .left-side-content .list-items ul li a {
            font-size: 17PX;
        }
        .appointment-section .left-side-content form p {
            flex: 0 0 47.2%;
        }
        .appointment-section .right-side-content .appointment-info .info-wrap a {
            font-size: 24px;
        }
        .doctors-section .main-wrap .text-wrap .title {
            font-size: 16px;
        }
        .doctors-section .main-wrap .text-wrap {
            padding: 10px;
        }
        .header .top-above-header .right-widget .widget-contact {
            gap: 10px;
        }
        .header .top-above-header .right-widget .widget-contact .contact-area {
            gap: 5px;
        }
        .header .top-above-header .right-widget .widget-contact .contact-area .contact-info .text {
            font-size: 15px;
        }
        .pricing-section .pricing-item .price-button .main-button {
            padding: 10px;
        }
        .work-process-section .main-item:not(:last-child)::after {
            content: '';
            position: absolute;
            right: 0;
            background: url('../images/work-process/arrow.png');
            top: -30px;
            background-repeat: no-repeat;
            left: 67%;
            bottom: 0;
            transform: rotate(30deg);
            z-index: 1;
            width: 100px;
        }
    }
    
    @media(max-width:991px) {
        .account-section .woocommerce-MyAccount-content {
            margin-bottom: 20px;
        }
        .footer-section .footer-copyright .footer-bottom:nth-child(2) {
            order: 1;
            padding-top: 0;
        }
        .woocommerce-account .woocommerce-MyAccount-navigation {
            float: unset !important;
            width: 100% !important;
            margin-bottom: 20px;
        }
        .woocommerce-account .woocommerce-MyAccount-content {
            float: unset !important;
            width: 100% !important;
        }
        .header-3 .logo::before {
            display: none;
        }
        .header-2 .is-sticky-menu .shape-main .menu-bg-elements .element1,
        .header-2 .is-sticky-menu .shape-main .menu-bg-elements .element2 {
            display: none;
        }
        .main-slider-2 .item .cover {
            top: 0px;
        }
        .header.header-2 .top-above-header {
            background: var(--dark-3);
        }
        body {
            overflow: visible;
        }
        header.header-2 {
            position: relative;
            z-index: 999;
        }
        .woocommerce .woocommerce-ordering {
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
        .cta-section-1 .cta-content .cta-info-wrap {
            justify-content: unset;
            display: block;
            text-align: center;
        }
        .cta-section-1 .cta-content .cta-btn a {
            margin-top: 10px;
        }
        .woocommerce .woocommerce-ordering {
            margin: 10px 0 !important;
        }
        .header .top-above-header .right-content>.icon .action {
            top: 135px;
        }
        .sidebar-content {
            order: 2;
        }
        .contactmap-section .map-footer .customer-support-icon {
            display: none;
        }
        .contactmap-section .map-footer .widget-contact .contact-area {
            margin-bottom: 20px;
            justify-content: start;
        }
        .contactmap-section .map-footer::after {
            background-size: cover;
        }
        .feature-section-3 .bg-elements .element1 {
            display: none;
        }
        .feature-section-3 .bg-elements .element2 {
            display: none;
        }
        .woocommerce .cart-collaterals {
            margin-bottom: 30px;
        }
        .comparison-pricing .comparison-table {
            overflow-x: scroll;
        }
        .comparison-pricing table thead tr th span.text {
            display: none;
        }
        .comparison-pricing table thead tr th .main-button {
            text-decoration: none;
            border: 1px solid var(--primary-color);
            border-radius: 50px;
            padding: 8px;
            color: var(--white);
            background: var(--primary-color);
            font-size: 14px;
            width: 130px;
            display: block;
        }
        .woocommerce ul.products li.product,
        .woocommerce-page ul.products li.product {
            margin: 0 8px;
        }
        .about-section .right-side-content .content-box::after {
            right: 0;
            width: 100%;
        }
        .feature-section-2 .center-content {
            margin: 80px 0;
        }
        section.info-section {
            transform: translateY(20px);
        }
        section.info-section .toggle-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            transform: translateY(90px);
        }
        section.info-section .info-carousel {
            padding-bottom: 40px;
        }
        .header .top-above-header {
            background: var(--bg-1);
            padding: 20px;
            transform: perspective(2000px) rotateX(-90deg);
            transform-origin: top;
            opacity: 0;
            visibility: hidden;
            transition: .6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            position: fixed;
            width: 100%;
            z-index: 4;
            top: 100px;
        }
        .header .top-above-header.header-active {
            opacity: 1;
            visibility: visible;
            transform: perspective(2000px) rotateX(0deg);
            animation: flipInX 1s linear;
        }
        .main-mobile-menu ul.main-menu .menu-item a:hover,
        .main-mobile-menu ul.main-menu .menu-item a:focus-within {
            color: var(--primary-color);
        }
        .main-menu .dropdown .dropdown-menu .menu-item a:hover,
        .main-menu .dropdown .dropdown-menu .menu-item a:focus-within {
            color: var(--primary-color);
        }
        .main-menu .dropdown .dropdown-menu .menu-item a::after {
            display: none;
        }
        .appointment-section .left-side-content form p:nth-child(6) textarea {
            width: 100%;
        }
        .funfact-section .funfact:not(:last-child)::after {
            display: none;
        }
        .cta-section-1 .cta-content {
            margin-bottom: 20px;
        }
        .work-process-section .main-item:not(:last-child)::after {
            display: none;
        }
        .work-process-section .item-wrap {
            margin: 0 auto;
        }
        .footer-section .footer-content-wrap {
            margin-bottom: 20px;
        }
        .footer-section .footer-copyright .footer-bottom:not(:last-child) {
            border-right: none;
        }
        .footer-section .footer-copyright .widget_payment_methods .payment_methods {
            justify-content: start
        }
        section#service-section>.bg-elements .element1 {
            display: none;
        }
        .header .top-above-header .right-content {
            justify-content: start;
        }
        .header .top-above-header .right-widget .widget-contact {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        .header .top-above-header .left-widget .wp-block-categories-dropdown {
            margin-bottom: 20px;
        }
        .main-mobile-nav {
            display: block !important;
        }
        .main-menu .dropdown .nav-link::after {
            display: none;
        }
        .main-menu li .nav-link::before {
            display: none;
        }
        .item .cover .slider-content h2 {
            font-size: 50px;
        }
        .item .cover .slider-content>p {
            font-size: 14px;
        }
        .slider-content .main-button {
            z-index: 0;
            text-decoration: none;
            border: 1px solid var(--primary-color);
            border-radius: 50px;
            padding: 10px;
            margin-right: 10px;
            color: var(--text-white);
            font-size: 14px;
        }
        section.info-section .toggle-btn i {
            position: absolute;
            top: -85px;
            left: 40%;
            font-size: 24px;
            background: var(--white);
            width: 40px;
            height: 40px;
            visibility: visible;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            color: var(--highlight-color);
            transition: 1s;
            transform: rotate(180deg);
            border: 1px solid var(--highlight-color);
        }
        section.info-section button#toggle-btn {
            visibility: hidden;
        }
        .about-section .right-side-content .content-box .text-wrap p {
            width: 100%;
        }
        .cta-section-1 .cta-content .cta-btn a {
            margin-top: 10px;
            font-size: 14px;
            padding: 10px 15px;
        }
        .cta-section-1 .cta-text-wrap h2 {
            font-size: 24px;
        }
        .cta-section-1 .cta-text-wrap span {
            font-size: 14px;
        }
        .cta-section-1 .cta-content-box {
            padding: 30px 20px;
        }
    }
    
    @media(min-width:767px) and (max-width:1199px) {
        .blog-section.blog-single-page .post-item .post-image.post-categories {
            top: 45%;
        }
    }
    
    @media(min-width:767px) and (max-width:991px) {
        .doctors-section .main-wrap .text-wrap .title {
            font-size: 15px;
        }
        .doctors-section .main-wrap .text-wrap .desc {
            font-size: 13px;
        }
        .doctors-section .detail-wrap .widget_social_widget ul {
            margin: 0;
        }
        .blog-section .post-item .post-content .post-meta.up .author-name {
            margin-bottom: 5px;
        }
        .header .top-above-header .right-content>.icon .action {
            padding: 15px;
            width: 250px;
        }
        .header .top-above-header .right-content>.icon .action .icon-wrap {
            font-size: 20px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            margin: 20px;
        }
        .header .top-above-header .right-content>.icon .action .text-wrap h2 {
            font-size: 24px;
        }
        .header .top-above-header .right-content>.icon .action .text-wrap p {
            font-size: 14px;
        }
        .header .top-above-header .right-content>.icon .action .main-button {
            padding: 8px 10px;
            font-size: 12px;
            margin: 10px;
        }
        .header .top-above-header .right-content>.icon .action {
            right: 80px;
        }
    }
    
    @media(max-width:767px) and (min-width:575px) {
        .doctors-section .main-wrap .text-wrap .title {
            font-size: 16px;
        }
        .doctors-section .main-wrap .text-wrap {
            padding: 10px;
        }
    }
    
    @media(max-width:768px) {
        .cta-section-1 .cta-content-box {
            padding: 10px 20px;
        }
        .woocommerce-page table.cart td.actions {
            border: 0;
            background: unset !important;
        }
        .woocommerce-page.woocommerce-cart #content table.cart td.actions .coupon input.input-text[type=text] {
            max-width: 100%;
        }
        .main-slider-2 .item .cover .slider-content h2 {
            font-size: 40px !important;
        }
        .woocommerce table.cart td.actions .input-text {
            margin-bottom: 10px;
            width: 100%;
        }
        .woocommerce table.cart td.actions button:nth-child(2) {
            float: left !important;
            margin-bottom: 10px;
            width: unset !important;
        }
        .woocommerce table.cart td.actions button:nth-child(1) {
            margin-top: 10px !important;
        }
        .woocommerce table.cart td.actions button {
            margin: 10px 0;
            margin-bottom: 0;
            float: left !important;
        }
        .blog-section .post-item .post-content .post-meta.up .post-tag {
            float: right;
            margin: 10px 0;
        }
        .blog-section.blog-single-page .post-item .post-content .post-meta.up .post-tag {
            float: NONE;
            line-height: 2;
        }
        .header .top-above-header .right-content>.icon {
            display: none;
        }
        .error-section .error-box h1 .icon-box {
            font-size: 100px;
            width: 150px;
            background: var(--highlight-color);
            border-radius: 50%;
            height: 150px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-white);
            animation: rotate 3s alternate infinite;
        }
        .error-section .error-box h1 {
            font-size: 250px;
            line-height: 0;
        }
        .error-section .error-box h4 {
            display: block;
            margin: 10px;
            color: var(--secondary-color);
            line-height: 1.2;
            font-weight: 600;
            font-size: 28px;
        }
        .blog-section.blog-single-page .widget-single-page {
            display: block;
        }
        .blog-section.blog-single-page .widget-single-page .sinlge-page-tag {
            margin-bottom: 20px;
        }
        .breadcrumb-section {
            background-position: calc(30%);
        }
        .comparison-pricing .comparison-table {
            overflow-x: scroll;
        }
        .comparison-pricing .comparison-table table {
            table-layout: auto;
        }
        .comparison-pricing table thead tr th {
            border: 1px solid rgb(255 255 255 / 10%);
            padding: 30px 60px;
        }
        .comparison-pricing table thead tr th .pricing-tag>span {
            font-weight: 600;
            font-size: 24px;
        }
        .comparison-pricing table thead tr th .price {
            font-size: 24px;
        }
        .comparison-pricing table thead tr th span.text {
            display: none;
        }
        .comparison-pricing table thead tr th .main-button {
            text-decoration: none;
            border: 1px solid var(--primary-color);
            border-radius: 50px;
            padding: 8px;
            color: var(--white);
            background: var(--primary-color);
            font-size: 14px;
            width: 130px;
            display: block;
        }
        .feature-section .bg-elements .element2 {
            display: none;
        }
        .breadcrumb-section .breadcrumb-footer .breadcrumb-content .breadcrumb-heading h1 {
            font-size: 24px;
        }
        .breadcrumb-section .breadcrumb-footer .breadcrumb-content .breadcrumb-list {
            padding: 10px 15px;
        }
        .about-section .left-side-content .list-items ul li a {
            font-size: 16px;
        }
        .about-section .left-side-content .achivements {
            display: block;
        }
        .feature-section-2 .left-content .item-list .item a {
            font-size: 15px;
        }
        .about-section .left-side-content .achivements .box-wrap {
            margin-bottom: 20px;
            display: inline-block;
            text-align: center;
            margin: 0 10px;
        }
        .about-section .left-side-content .achivements .icon-wrap {
            margin: 10px auto;
        }
        .cta-section-1 .cta-content .cta-info-wrap .widget-contact .contact-area {
            display: block;
        }
        .cta-section-1 .cta-content .cta-info-wrap {
            display: block;
        }
        .footer-section .footer-copyright {
            justify-content: center;
            text-align: center;
        }
        .footer-section .footer-copyright .widget-contact .contact-area {
            justify-content: center;
        }
        .footer-section .footer-copyright .widget_payment_methods .payment_methods {
            justify-content: center;
        }
        .header .top-above-header .left-widget .wp-block-categories-dropdown {
            justify-content: center
        }
        .header .top-above-header .right-content>.action {
            display: none;
        }
        .header .top-above-header .right-content>.icon a {
            display: none;
        }
        .item .cover .slider-content h2 {
            font-size: 40px;
        }
        .item .cover .slider-content>p {
            font-size: 11px;
            /* letter-spacing: 0.2px; */
        }
        .slider-content .main-button {
            z-index: 0;
            text-decoration: none;
            border: 1px solid var(--primary-color);
            border-radius: 50px;
            padding: 5px 10px;
            margin-right: 10px;
            color: var(--text-white);
            font-size: 12px;
        }
        section.info-section .toggle-btn i {
            position: absolute;
            top: -85px;
            left: 40%;
            font-size: 18px;
            background: var(--white);
            width: 30px;
            height: 30px;
            visibility: visible;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            color: var(--highlight-color);
            transition: 1s;
            transform: rotate(180deg);
            border: 1px solid var(--highlight-color);
        }
        .blog-section.blog-single-page .post-item .post-content .post-meta.up .author-name {
            margin-bottom: 5px;
            justify-content: start;
        }
        .blog-section.blog-single-page .post-item .post-image .post-meta.up {
            display: block;
            margin-bottom: 20px;
        }
        .blog-section.blog-single-page .post-item .post-image .post-categories {
            position: absolute;
            transform: unset;
            left: 30%;
            margin: 10px 0;
        }
        .blog-section.blog-single-page .post-item .post-content .post-meta.up .post-tag a {
            display: inline-block;
            margin: 0 10px;
        }
        .blog-section.blog-single-page .post-item .post-image .post-categories li a {
            margin: 3px;
            display: inline-block;
        }
    }
    
    @media(max-width:575px) {
        .main-slider-2 .item .cover .slider-content>p {
            margin-bottom: 5px !important;
        }
        .main-slider-2 .item .cover .slider-content h2 {
            font-size: 30px !important;
        }
        .error-section .error-box h1 {
            font-size: 200px;
            line-height: 0;
            /* max-height: 50px;
             */
        }
        .about-section .left-side-content .achivements .icon-wrap {
            width: 80px;
            height: 80px;
            padding: 20px;
        }
        .about-section .left-side-content .achivements .box-wrap .text-wrap h4 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .error-section .error-box h1 {
            margin-bottom: 30px;
        }
        .error-section .error-box h1 .icon-box {
            font-size: 80px;
            width: 120px;
            background: var(--highlight-color);
            border-radius: 50%;
            height: 120px;
        }
        .breadcrumb-section .breadcrumb-footer .breadcrumb-content {
            display: block;
        }
        .breadcrumb-section .breadcrumb-footer .breadcrumb-content .breadcrumb-list {
            margin-top: 15px;
            justify-content: center;
        }
        .section-title h5 {
            font-size: 25px;
            line-height: 1;
        }
        .about-section .left-side-content .title h2 {
            font-size: 24px;
        }
        .about-section .left-side-content .title h2>span {
            font-size: 24px;
        }
        .item .cover .slider-content h2 {
            font-size: 30px;
        }
        .item .cover .slider-content {
            position: relative;
            max-width: 500px;
        }
        .item .cover .slider-content>p {
            margin-bottom: 10px;
        }
        .slider-content .text {
            font-size: 14px;
        }
        .slider-content .video-button {
            width: 25px;
            height: 25px;
            background: var(--highlight-color);
            line-height: 25px;
            text-align: center;
            border-radius: 50%;
            font-size: 9px;
            display: inline-block;
            position: relative;
            margin-right: 20px;
            color: var(--text-white);
            /* display: block; */
        }
        .item .cover .slider-content {
            position: relative;
            max-width: 400px;
            line-height: 13px;
        }
        .slider-content .text {
            font-size: 9px;
        }
        .slider-content .main-button {
            font-size: 10px;
        }
        .mouse {
            width: 45px;
            height: 70px;
        }
        .mouse:before {
            width: 35px;
            height: 60px;
        }
        .doctors-section.doctors-section-2 .main-wrap .text-wrap {
            bottom: 75px;
        }
    }
    
    @media(min-width:550px) and (max-width:575px) {
        .main-slider-2 .item .cover .slider-content h2 {
            font-size: 30px !important;
            line-height: 1;
            margin-bottom: 5px;
        }
    }
    
    @media(max-width:550px) {
        .main-slider-2 .item .cover .slider-content h2 {
            font-size: 20px !important;
            line-height: 1;
            margin-bottom: 5px;
        }
        .about-section .left-side-content .list-items {
            display: block;
        }
        .blog-section.blog-single-page .comment-form>p:nth-child(1n+1):not(.comment-form-email):not(.comment-form-comment):not(.comment-form-cookies-consent):not(.form-submit):not(.comment-form-url) {
            margin-right: 0;
        }
        .blog-section.blog-single-page .comment-form>p:not(.comment-notes):not(.comment-form-comment):not(.comment-form-cookies-consent):not(.form-submit) {
            flex: 100%;
        }
    }
    
    @media(max-width:499px) {
        .pagination .pagination__button {
            margin: 0 5px;
        }
        .office-address-section .info-wrap::after {
            display: none;
        }
        .feature-section-2 .center-content .center-image-wrap::after {
            display: none;
        }
        .feature-section-2 .center-content::after {
            display: none;
        }
        .feature-section-2 .center-image-wrap {
            width: auto;
        }
        .feature-section-2 .center-content .center-image-wrap img {
            border-radius: 0;
        }
        .feature-section-2 .center-image-wrap>span:nth-child(5) {
            right: 0;
        }
        .feature-section-2 .center-image-wrap>span {
            animation: floating 2s linear infinite;
        }
        .blog-section .post-item .post-content .post-meta.up .post-tag {
            float: none;
            margin: 10px 0;
            display: block;
        }
        .blog-section .post-item .post-content .post-meta.up .author-name {
            display: block;
        }
    }
    
    @media(max-width:400px) {
        .header.header-2 .top-above-header {
            padding: 10px;
        }
        .doctors-section .main-wrap .text-wrap .title {
            font-size: 16px;
        }
        .blog-section .post-item .post-content .post-meta.up .posted-on {
            padding: 5px;
        }
        .blog-section .post-item .post-content .post-meta.up .posted-on a {
            font-size: 14px;
        }
        .blog-section .post-item .post-content .post-meta.up {
            display: inline-block;
        }
        .blog-section .post-item .post-content .post-meta.up .author-name {
            margin-bottom: 5px;
        }
        .blog-section .post-item .post-content .post-meta.up .post-categories {
            left: 18%;
            right: 18%;
        }
        .blog-section .post-item .post-content .post-meta.up .post-categories {
            transform: translateY(-100px);
        }
        .testimonial-section .testimonial-box .testimonial-img::after {
            border: 0;
        }
        .testimonial-section .owl-item.center .testimonial-img img {
            border: 5px solid var(--primary-color);
        }
        .testimonial-section .owl-item.center .testimonial-img::after {
            display: none;
        }
        .appointment-section .right-side-content .appointment-info .info-wrap a {
            font-size: 24px;
        }
        .cta-section-1 .cta-content .cta-btn a {
            font-size: 14px;
            padding: 10px;
        }
        .item .cover .slider-content h2 {
            font-size: 20px;
        }
        .slider-content .main-button {
            font-size: 7px;
            padding: 2px 10px;
        }
        .pricing-section .pricing-item .pricing-footer {
            display: block;
        }
        .pricing-section .pricing-item .pricing-footer h4 {
            margin: 20px 0;
        }
        .blog-section.blog-single-page .comments-area .comment-meta .comment-author img {
            position: absolute;
            z-index: 0;
            left: 20px;
            border-radius: 10px;
            width: 50px;
            height: 50px;
            top: 20px;
        }
        .blog-section.blog-single-page .comments-area .comment-body {
            position: relative;
            padding-left: 120px;
            min-height: 120px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            border-radius: 3px;
            z-index: 0;
            margin-bottom: 5px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin: 20px 0;
            padding: 20px;
            padding-left: 20px;
            border: 1px solid rgba(255 255 255 / 20%);
            background: var(--dark-bg-2);
            float: left;
            width: 100%;
            padding-top: 100px;
        }
        .blog-section.blog-single-page .comments-area .comment-body .comment-content p {
            color: var(--secondary-color);
            font-size: 14px;
        }
        .blog-section.blog-single-page .comments-area .comment-meta .comment-author .fn a {
            font-size: 16px;
        }
        .blog-section.blog-single-page .comments-area .comment-body .comment-metadata a time {
            font-size: 16px;
            font-weight: 500;
            display: inline-block;
            color: var(--secondary-color);
            position: absolute;
            right: 15px;
            top: 10px;
            transition: 0.65s;
        }
    }
    
    @media (max-width:991px) {
        /* section.info-section .item { */
            /* margin: 20px auto; */
        /* } */
        .appointment-section .left-side-content form p {
            flex: 0 0 100%;
        }
        .appointment-section .left-side-content form p label {
            display: block;
        }
    }
    
    @media(max-width:575px) {
        /* ---- Service Section ---- */
        .service-section {
            padding: 40px 0;
        }
        .service-section .service-box .service-icon i {
            padding: 15px;
            font-size: 25px;
            margin: 5px;
        }
        .service-section .service-box>.bg-element i {
            font-size: 40px;
            top: 10px;
            right: 10px;
        }
        .service-section .service-box .service-content h4 {
            font-size: 14px;
            margin: 5px;
        }
        .service-section .service-box .service-content p {
            font-size: 12px;
        }
        .service-section .service-box .service-content a {
            font-size: 12px;
        }
        .service-section .service-box {
            padding: 10px;
            line-height: 20px;
        }
        .service-section .service-box:hover .bg-element i,
        .service-section .service-box:focus-within .bg-element i {
            font-size: 40px;
            top: 10px;
            right: 10px;
        }
        /* ----- Feature section --- */
        .feature-section {
            padding: 40px 0;
        }
        .feature-section .feature-wrap .icon-wrap i {
            font-size: 60px;
        }
        .feature-section .feature-wrap .text-wrap a.title {
            font-size: 16px;
            line-height: 1.5;
        }
        /* ---- Appointment Section ---- */
        .appointment-section {
            padding: 40px 0;
        }
        /* --- Pricing Section ---- */
        .pricing-section {
            padding: 40px 0;
        }
        /* --- Funfact section --- */
        .funfact-section {
            padding: 40px 0;
        }
        .funfact-section .funfact-box p i {
            font-size: 50px;
            color: var(--primary-color);
            margin: 0px;
        }
        .funfact-section .funfact-box h3 {
            font-size: 20px;
            margin-bottom: 5px;
        }
        .funfact-section .funfact-box {
            padding: 10px;
            line-height: 25px;
        }
        .funfact-section .funfact-box .title {
            font-size: 12px;
        }
        /* ---- Cta Section ---- */
        .cta-section-1 {
            padding: 40px 0;
        }
        .cta-section-1 .cta-content-box {
            padding: 20px 15px;
            margin: 0;
            line-height: 1.2;
        }
        .cta-section-1 .cta-text-wrap h2 {
            font-size: 16px;
            line-height: 1.5;
        }
        .cta-section-1 .cta-text-wrap span {
            font-size: 12px;
        }
        .cta-section-1 .cta-content .cta-info-wrap .widget-contact .contact-area .contact-info p>a {
            font-size: 16px;
        }
        .cta-section-1 .cta-content .cta-info-wrap .widget-contact .contact-area {
            display: block;
            margin-bottom: 10px;
        }
        .cta-section-1 .cta-content .cta-info-wrap {
            text-align: center;
        }
        .cta-section-1 .cta-content .cta-btn a {
            font-size: 8px;
            padding: 8px;
            margin: 0;
        }
        .cta-section-1 .cta-content .cta-info-wrap .widget-contact .contact-area .contact-icon {
            width: 40px;
            height: 40px;
            background: var(--highlight-color);
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            font-size: 16px;
            display: flex;
            position: relative;
            color: var(--text-white);
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .cta-section-1 .cta-content {
            margin-bottom: 0px;
        }
        /* --- Team Section --- */
        .doctors-section {
            padding: 40px 0;
        }
        /* ---- Testimonial Section ----- */
        .testimonial-section {
            padding: 40px 0;
        }
        .testimonial-section .testimonial-box .testimonial-img img {
            width: 80px !important;
            border-radius: 50%;
        }
        .testimonial-section .testimonial-box .info-wrap {
            padding: 10px;
            border-radius: 100px;
            padding-right: 80px;
            line-height: 15px;
        }
        .testimonial-section .testimonial-box .info-wrap h4 {
            font-size: 16px;
        }
        .testimonial-section .testimonial-box .info-wrap .sub-title {
            font-size: 14px;
        }
        .testimonial-section .testimonial-box .info-wrap blockquote {
            font-size: 14px;
        }
        .testimonial-section .testimonial-box .testimonial-img {
            top: 50%;
            right: 25px;
            transform: translate(50%, -50%);
        }
        .testimonial-section .owl-nav {
            margin-top: 10px;
        }
        .testimonial-section .owl-nav button {
            width: 30px;
            height: 30px;
            line-height: 0px !important;
            font-size: 24px !important;
        }
        /* --- Work Process --- */
        .work-process-section {
            padding: 40px 0;
        }
        .work-process-section .item-wrap .animte-border {
            inset: -10px;
        }
        .work-process-section span.animte-border::before {
            top: 17px;
            left: 16px;
        }
        .work-process-section .item-wrap {
            width: 150px;
            height: 150px;
            border-width: 8px;
        }
        .work-process-section .item-wrap .title span {
            font-size: 14px;
        }
        .work-process-section .item-wrap .count {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
        }
        @keyframes circle {
            0% {
                transform: rotate(0deg) translate(65px) rotate(0deg);
            }
            100% {
                transform: rotate(360deg) translate(65px) rotate(-360deg);
            }
        }
        /* ---- Info Section --- */
        section.info-section .item {
            width: 120px;
            height: 120px;
        }
        section.info-section .item .icon-box {
            font-size: 35px;
        }
        section.info-section .item .title-box {
            font-size: 14px;
        }
        /* --- Footer ---- */
        .footer-section .footer-copyright .footer-bottom {
            padding: 20px 0;
        }
        .footer-section .footer-copyright .footer-bottom:nth-child(1) {
            border-bottom: 1px solid rgb(215 215 215 / 20%);
        }
        /* ------ Award Section ---- */
        .award-section {
            padding: 40px 0;
        }
        /* --- Virus Section --- */
        .virus-section {
            padding: 40px 0;
        }
        .virus-section .item-wrap .icon-wrap {
            width: 100px;
            height: 100px;
        }
        .virus-section .item-wrap .icon-wrap i {
            font-size: 45px;
        }
        .virus-section .item-wrap .title {
            font-size: 14px;
        }
        /* --- Contact Form ---- */
        .contact-form-section {
            padding: 40px 0;
            padding-bottom: 0;
        }
        .contact-form-section .send-your-enquiry {
            padding: 15px;
        }
        .contact-form-section .send-your-enquiry .Form-heading {
            font-size: 20px;
        }
        .contact-form-section .send-your-enquiry .note {
            font-size: 12px;
        }
        .contact-form-section .send-your-enquiry .wpcf7 form p input {
            padding: 10px;
            font-size: 14px;
        }
        .contact-form-section .send-your-enquiry .wpcf7 form p {
            margin-bottom: 15px;
        }
        .contact-form-section .send-your-enquiry .wpcf7 form p textarea {
            height: 90px;
            border-radius: 20px;
            padding: 10px;
            font-size: 14px;
        }
        .contact-form-section .send-your-enquiry .wpcf7 .wpcf7-submit {
            padding: 10px 15px;
            font-size: 14px;
            display: inline-block;
        }
        .wpcf7 form .wpcf7-response-output {
            margin: 0;
            animation: zoomIn .6s linear;
        }
        .contact-form-section .right-side-image img {
            max-width: 250px;
        }
        /* ---- Feature Section (Contact Page) --- */
        .feature-section-3 .feature-box-wrap .feature-text a {
            font-size: 14px;
        }
        /* --- woocommerce cart section --- */
        .woocommerce-page.woocommerce-cart #content table.cart td.actions .coupon input.input-text[type=text] {
            padding: 10px;
            width: 100%;
            max-width: 100%;
        }
        .woocommerce table.cart td.actions button {
            float: left !important;
            width: unset;
            display: block;
            font-size: 14px;
        }
        .woocommerce table.cart td.actions button {
            margin: 0;
            margin-top: 10px;
            float: left !important;
        }
        .woocommerce table.cart td.actions button:nth-child(2) {
            width: 50% !important;
            float: left !important;
        }
        .woocommerce table.cart td.actions button {
            padding: 10px;
        }
        .woocommerce-error {
            padding: 15px;
            animation: flipInX .8s linear;
        }
        .woocommerce .cart-collaterals a.button.alt {
            padding: 10px;
        }
        .woocommerce ul.products li.product a {
            font-size: 14px;
        }
        .woocommerce ul.products li.product .button {
            font-size: 12px;
        }
        .woocommerce div.product-single a.button.add_to_cart_button:before {
            font-size: 14px;
        }
        .woocommerce div.product-single a.added_to_cart.wc-forward:before {
            font-size: 14px;
        }
        .woocommerce div.product-single a.added_to_cart.wc-forward {
            font-size: 12px;
        }
        .breadcrumb-section .breadcrumb-footer .breadcrumb-content .breadcrumb-heading h1 {
            font-size: 20px;
            line-height: 1.5;
        }
        /* ----- Blog Single --- */
        .post-content .post-title {
            color: var(--secondary-color);
            font-size: 24px;
            line-height: 1.5;
        }
        .single-comments-title h2 {
            font-size: 20px;
            line-height: 1.5;
        }
        .blog-section.blog-single-page .comments-area .comments-title h3 {
            font-size: 18px;
        }
        .blog-section.blog-single-page .comments-area .comment-body {
            margin: 0;
            margin-bottom: 20px;
        }
        .blog-section.blog-single-page .comments-area .comment-body .comment-metadata a time {
            position: unset;
            display: block;
        }
        .blog-section.blog-single-page .comments-area .comment-body .comment-content p {
            margin: 0;
        }
        .blog-section.blog-single-page .comment-respond input#comment-submit {
            font-size: 16px;
            padding: 10px;
        }
        .sidebar .widget_tag_cloud .tagcloud a::after {
            content: '\f02b';
            position: absolute;
            left: 8px;
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
            font-size: 10px;
            top: 7px;
        }
        .sidebar .widget_tag_cloud .tagcloud a {
            padding: 5px 22px;
            background: var(--bg-1);
            color: var(--text-white);
            margin: 0px 0px 8px 5px;
            display: inline-block;
            text-decoration: none;
            font-size: 12px !important;
            font-weight: 500;
            border-radius: 100px;
            position: relative;
            border: 1px solid rgb(255 255 255 / 20%);
            transition: 1s;
        }
        .error-section .error-box h1 {
            font-size: 150px;
        }
        .error-section .error-box h4 {
            font-size: 20px;
        }
        .error-section .error-box .main-button {
            display: inline-block;
            border: 1px solid;
            background: var(--highlight-color);
            padding: 5px 20px;
            font-size: 14px;
            text-decoration: none;
            margin-top: 10px;
        }
        .error-section {
            padding: 100px 0;
        }
        .footer-logo a img {
            width: 160px;
            height: auto;
        }
        .woocommerce #content div.product div.images,
        .woocommerce div.product div.images,
        .woocommerce-page #content div.product div.images,
        .woocommerce-page div.product div.images {
            float: unset !important;
            width: 100% !important;
        }
        .woocommerce #content div.product div.summary,
        .woocommerce div.product div.summary,
        .woocommerce-page #content div.product div.summary,
        .woocommerce-page div.product div.summary {
            float: unset !important;
            width: 100% !important;
        }
        .single-product .product .product_title.entry-title {
            font-size: 24px;
        }
        .woocommerce div.product p.price,
        .woocommerce div.product span.price {
            font-size: 16px;
        }
        .woocommerce div.product .woocommerce-tabs .panel h2 {
            font-size: 20px;
        }
        .woocommerce .related.products h2 {
            font-size: 20px;
            font-weight: 500;
        }
    }
    
    @media(max-width:500px) {
        .about-section .left-side-content .list-items ul li {
            width: 100%;
        }
    }
    
    @media(max-width:440px) {
        .about-section .left-side-content .achivements .box-wrap {
            display: block;
        }
    }
    
    @media(max-width:400px) {
        .blog-section.blog-single-page .comments-area .comment-body {
            padding: 20px;
            padding-top: 70px;
        }
        .woocommerce div.product .woocommerce-tabs ul.tabs {
            display: grid;
            padding: 0;
        }
    }
    
    @media(max-width:340px) {
        .error-section .error-box h1 {
            font-size: 100px;
        }
        .error-section .error-box h1 .icon-box {
            font-size: 60px;
            width: 80px;
            background: var(--highlight-color);
            border-radius: 50%;
            height: 80px;
        }
        .error-section .error-box h4 {
            font-size: 22px;
        }
        .appointment-section .right-side-content .appointment-info .info-wrap p {
            font-size: 14px;
        }
        .appointment-section .right-side-content .appointment-info .info-wrap a {
            font-size: 20px;
        }
        .faq-section .accordion-flush .accordion-item>.count-element {
            display: none;
        }
        .faq-section .accordion-flush .accordion-item .accordion-button,
        .faq-section .accordion-flush .accordion-item .accordion-button.collapsed {
            padding: 10px;
        }
        .faq-section .accordion-flush .accordion-item .accordion-button>span {
            font-size: 14px;
            font-weight: 500;
            padding: 0px 5px;
        }
    }
    
    @media(max-width:370px) {
        .account-section .signpageforms .woocommerce-form-login p button.woocommerce-form-login__submit {
            float: none;
        }
        .slider-content .text {
            margin: 3px 0;
            display: block;
        }
    }
    
    @media(max-width:360px) {
        .cta-section-1 .cta-text-wrap h2 {
            font-size: 14px;
        }
        .cta-section-1 .cta-text-wrap span {
            font-size: 8px;
        }
        .cta-section-1 .cta-content .cta-info-wrap .widget-contact .contact-area .contact-info p>a {
            font-size: 14px;
        }
        .cta-section-1 .cta-content .cta-info-wrap .widget-contact .contact-area .contact-icon {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        .cta-section-1 .cta-content .cta-info-wrap .widget-contact .contact-area .contact-icon {
            font-size: 6px;
            padding: 6px;
        }
        .cta-section-1 .cta-content .cta-info-wrap .widget-contact .contact-area .contact-icon {
            padding: 10px;
        }
    }
    
    @media(max-width:320px) {
        .item .cover .slider-content h2 {
            font-size: 15px !important;
        }
        .main-slider-2 .item .cover .slider-content h2 {
            font-size: 15px !important;
        }
        .item .cover .slider-content>p {
            margin-bottom: 5px;
            font-size: 8px;
            line-height: 1.3;
        }
        .item .cover .slider-content {
            position: relative;
            max-width: 400px;
            line-height: 5px;
            height: 125px;
        }
        .slider-content .main-button {
            font-size: 7px;
            padding: 3px 5px;
        }
        .about-section .left-side-content .achivements .icon-wrap {
            margin: auto;
            margin-bottom: 10px;
        }
        .about-section .left-side-content .achivements .box-wrap {
            display: block;
            text-align: center;
        }
        .about-section .right-side-content .content-box img {
            width: 270px;
        }
        .pagination {
            DISPLAY: BLOCK;
            text-align: center;
        }
        .pagination .pagination__button {
            margin: 10px 0;
        }
        .pagination .pagination__list {
            padding: 10px;
        }
    }
    /* ============================ End ============================== */